

.contain div {
    padding-top: 10px;
}
h6 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-justify: auto;
}
.good {
    background-color: green; 
    min-height: 28px;
}
.bdr_ranking {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
    // margin-top: 5px;
  } 