.contain {
    background-color: #e2d7d7cb;
    height: 90vh;
    // max-width: 100%; 
    overflow: auto;
}
.contain::-webkit-scrollbar {
    width: .3em;
    height: .3em;
}

.contain::-webkit-scrollbar-thumb {
  background-color:grey;
}
.contain::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

table {
    font-size: 12px;    
}

tr.text-center:nth-child(even) {
    background-color: rgba(141, 135, 135, 0.466);
}
tr.text-center:nth-child(odd) {
    background-color: whitesmoke
}

tr.text-center:hover {
    background-color:rgba(199, 191, 191, 0.068)
}

table tr td:last-child{
    color: green;
    cursor: pointer;
}
table tr td:last-child:active{
    color: red;
    cursor: pointer;
}

td {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    color: red !important;
}

.number {
    font-size: 12px;
}

th { 
    background: #fff; 
    padding: 8px 16px; 
}


.contain thead th {
  position: sticky;
  top: -8px;
}

.email {
    text-align: start !important;
}
.good {
    background-color: #07A444; 
    min-height: 28px;
}
h6 {
    margin: 0;
    padding: 10px 0;
}